__pycache__/
*.pyc
local_settings.py

# *.db
# db.sqlite3
# db.sqlite3-journal

locale/*/LC_MESSAGES/django.mo
*/locale/*/LC_MESSAGES/django.mo
media
.sass-cache/
.coverage
.tox

.DS_Store
.vscode/*
.ipynb_checkpoints
/site


### Lines for Customization ###
.temp